body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:#C8CEEE;
    color:#F7E5B7;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
}
#scoreboard{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    color: #9BABBE;
}
#xScore{
    flex: 1;
}

#oScore{
    flex: 1;
}
#scoreboard div{
    flex:1;
    
}
#game{
    display: grid;
    grid-template: 100px 100px 100px / 100px 100px 100px;
    border: solid;
}
.gameCell{
    border: solid;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
}
#reset{
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    background-color: #F7E5B7;
    color: #9BABBE;;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 10rem;
}